aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
aws-cdk-lib==2.91.0
aws-cdk.asset-awscli-v1==2.2.200
aws-cdk.asset-kubectl-v20==2.1.2
aws-cdk.asset-node-proxy-agent-v5==2.0.166
aws-cdk.aws-lambda-python-alpha==2.91.0a0
boto3==1.28.24
botocore==1.31.24
cattrs==23.1.2
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
constructs==10.2.69
exceptiongroup==1.1.2
frozenlist==1.4.0
idna==3.4
importlib-resources==6.0.1
jmespath==1.0.1
jsii==1.86.1
multidict==6.0.4
openai==0.27.8
Pillow==10.0.0
publication==0.0.3
python-dateutil==2.8.2
requests==2.31.0
s3transfer==0.6.1
six==1.16.0
tqdm==4.66.1
typeguard==2.13.3
typing_extensions==4.7.1
urllib3==1.26.16
yarl==1.9.2
zipp==3.16.2
